<div class="alert alert-success" alert-dismissable>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <div class="pull-left">
        <img src="assets/images/contessa-heart-tk.png">
    </div>
    <div style="padding-left:205px;">
        <h3 style="margin-top:11px;">Thank you for registering a new event!</h3>
        <p>Your event has been sent to our partner site, <a href="http://www.tavern-keeper.com" target="_blank">Tavern Keeper</a>, for processing. Once your event has passed initial
            approval (a day or two), we'll contact you via email for further instructions on how to add more detail to your event! </p>
    </div>
    <div class="clearfix"> </div>
</div>